.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
}

.navbar a:hover {
    color: #ff1000;
}

.navbar .links {
    margin-left: auto;
}

.navbar .logo {
    width: 66px !important;
    height: 66px !important;
}